body{
    display: block;
    background-color: #e9e9e9;
}
#logo{
    float:left;
}
#logo-img{
    height: 150px;
}

header{
    height: 250px;
    background-image: url('../img/header_img.jpg');
 }
 #main-nav{
     clear:both;
    
     
 }
#nav-ul{
    display: block;
    margin: 0;
    padding: 0;
     list-style-type: none;
      overflow: hidden;
}
#nav-ul>li{
   
    float:left;
}
#nav-ul>li>a{
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}
#nav-ul>li>a:hover{
    background: #eee;
}     

#sticker{
    float: right;
}
