body{
    display: block;
    background-color: #E6E8E7;
    width: 100%;
    margin: 0;
 }

#logo{
    float:left;
 }

#logo-img{
    height: 150px;
 }

header{
    height: 250px;
    background-image: url('../img/header_img.jpg');
 }
 
 #sticker{
    float: right;
  }
 
 #sale-img{
     margin-right: 35px;
     height: 150px;
     width: 50px;
     animation-duration: 10s;
     animation-delay: 2s;
     animation-iteration-count: infinite;
     
  }
 /*---------Main Navigation*/
 #main-nav{
    clear:both;
    max-width: 950px;
    background: #c1c1c1;
    margin: 0 auto;
  }
 
#nav-ul{
    display: block;
    margin: 0px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
 }

#nav-ul>li{
    display: inline-block;
    margin-bottom: 10px;
   }
#nav-ul>li>a{
    display: block;
    color: #234463;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium; 
    text-transform: uppercase;
  }
/* -------  Carousel -------*/
#my-carusel{
    max-width: 950px;
    margin:0 auto;
 }
#my-carusel img{
    height: 450px;
    width: 950px;
 } 
.slick-prev{
    left: 15px;
    z-index: 10;
 }
.slick-next{
    right: 15px;
    z-index: 10;
 }
/* ------- END Carousel -------*/

/* ------- MAIN -------*/
#content{
    clear: both;
    max-width: 950px;
    margin: 0 auto;
    background: #c1c1c1;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow:  0 6px 6px 0 rgba(0,0,0,0.16),0 6px 10px 0 rgba(0,0,0,0.12);
}
#main-content{
    padding: 15px;
    box-sizing: border-box;
  
}

main{
    float:left;
    width: 70%;
 }
main>h1{
text-transform: uppercase;
}
    
article>p{
    text-align: justify;
    padding: 10px;
}
article>figure{
    padding: 10px;
    
}
article>figure>img{
    border-radius: 10px;
    
}
aside{
    
    float:left;
    width: 30%;
}

#banner1{
    height: 450px;
    border: 1 solid #234463;
    background: white;
}
.banner>h2{
    color: red;
    padding: 10px;
}
.banner>p{
    text-align: justify;
    padding:  0 10px 0 10px;
}
#banner2{
    height: 250px;
    border: 3 solid #234483;
    background: white;
}
#banner2>figure{
    margin-left: 25%;
}
.banner{
    border-radius: 10px;
}
/* footer */
footer{
    clear:both;
    overflow: hidden;
    width: 100%;
    background: #ECECEC;
    margin: 0 auto;
}

.footer-cell{
    float:left;
    display: table-cell;
    padding:30px;
}
.f-list li{
    list-style-type: none;
    padding-bottom: 10px;
}
.f-list li >a {
   text-decoration: none;
   text-transform: uppercase;
   color: #234463;
}
#footer-bottom{
    clear:both;
    text-align: center;
    border: 5px;
}
ul.social-icons{
    cursor: default;
    list-style: none;
    padding-left: 0;
    
}
ul.social-icons li{
    display: inline-block;
    padding:0 15px 0 0;
}
.social-icons li a{
    color: black;
    text-decoration: none;
}
.social-icons li a:hover{
    color: white;
}


ul.copyright{
    cursor: default;
    list-style: disc;
    padding: left 0;
}
ul.copyright li{
     display: inline-block;
    padding:0 5px 0 0;
    }
.copyright li a{
    text-decoration: none;
}
#Map{
    float:right;
    height: 250px;
    width: 250px;
}


/* clear fix start */
    
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* clear fix end */